* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: white;
  margin: 0;
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
}


/* design hero section */

#hero {
  background-image: url("./image/Header-llustration-desktop@2x.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hero #navbar {
  width: 100vw;
  height: vw;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0000;
}

#navbar .hamburger {
  display: none;
}

#navbar .manu {
  display: flex;
  justify-content: center;
  gap: 32px;
  list-style-type: none;
  text-align: center;
}

#navbar .manu li a {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-decoration: none;
  color: #344563;
}

#hero .banner {
  width: 100vw;
  height: auto;
  background: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
}

#hero .banner .introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  width: 63.8vw;
}

#hero .title {
  width:63.8vw;
  height: auto;
  font-style: normal;
  text-align: center;
  margin-top: 160px;
}

#hero .title h1 {
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
}

#hero .title h1 span:not(:last-child) {
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.37px;
}

#hero .title h1:last-child {
  flex-basis: 100%;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.37px;
}

#hero .info {
  width: 100%;
  height: auto;
  line-height: 32px;
  margin: 0;
}

#hero .info p{
  padding: 0 25px;
}

/* social media icon */

#hero .social {
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero .social ul {
  display: flex;
  justify-content: center;
  margin: 0;
}

.chevron {
  margin: 84px auto 400px; 
}

/* work section title */

body .showcase-title {
  width: 100vw;
  height: auto;
  margin: 0;
}

body .title-box {
  text-align: center;
  width: 100%;
}

.separator {
  display: none;
}

body #worksection {
  margin-top: 52px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 32px;
  column-gap: 24px;
  justify-content: center;
  align-items: center;
  width: 81.38vw;
  margin-left: 9.31vw;
  margin-right: 9.31vw;
}

.card {
  width: 327px;
  height: 474px;
  background: #ebf0ee;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
